PORT=3000
POSTGRES_CONNECTION_STRING=postgresql://postgres.dmyiojwgzrxrfysvdihh:UOXSdNYGhoeWuIzP@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres
JWT_ACCESS_SECRET=todolist_access_secret_dev
JWT_ACCESS_EXPIRES_IN=1h
JWT_REFRESH_SECRET=todolist_refresh_secret_dev
JWT_REFRESH_EXPIRES_IN=7d
BCRYPT_SALT_ROUNDS=10
CORS_ORIGIN=https://hajung-todolist-fe.vercel.app
